<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SSR React Project</title>
		<link href="/styles.css" rel="stylesheet">
	</head>

	<body>
		<div id="root"><%- initialContent -%></div>
		<script src="/app.min.js" charset="utf-8" async></script>
	</body>

</html>
